@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kumbh Sans", sans-serif !important;
  background: #141414;
  color: #fff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.alert-strict {
  width: 100%;
  text-align: center;
  color: #98989a;
  padding: 12px 0;
  font-size: 14px;
}
header {
  width: 100%;
  background: #1a1a1a;
}
nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
  font-size: 20px;
}
.logo > img {
  width: 40px;
  height: 40px;
}
ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
}
li,
a {
  text-decoration: none;
  list-style: none;
}
ul > li > a {
  color: #7e7e81;
}
.btn-link {
  padding: 10px 14px;
  background: #ffd11a;
  color: #141414;
  border-radius: 10px;
  font-size: 14px;
}

/* sectino css */
section {
  margin: 80px 0;
}
.head-table {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.head-table h3 {
  font-weight: 500;
  font-size: 24px;
}
.add-table {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif !important;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;
  text-decoration: none;
  background: #fff;
  color: #141414;
}
.add-table:hover {
  border: 1px solid #262626;
  background: #ffd11a;
}
/* Posts table css */
.posts-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  border: 1px solid #262626;
  overflow: hidden;
  border-radius: 12px;
  margin-top: 32px;
}
.posts-table th,
.posts-table td {
  border: 1px solid #262626;
  padding: 12px;
  text-align: left;
}

.posts-table thead {
  background-color: #1a1a1a;
}
.image-td {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.image-td span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-img {
  min-width: 68px;
  height: 40px;
  position: relative;
  display: inline-block;
}
.table-img > img {
  border-radius: 8px;
  position: absolute;
  width: 100%;
  height: 100%;
}
.table-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.table-actions a {
  color: #fff;
  transition: all 0.4s ease-in-out;
}
.table-actions a:hover {
  color: #ffd11a;
}
.delete-btn {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}
.delete-btn:hover {
  color: #ffd11a;
}

/* responsiveness css */
@media (max-width: 1200px) {
  .container,
  nav {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  nav,
  .container {
    max-width: 576px;
    overflow: hidden;
  }
  .table-container {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0 auto;
  }
  .posts-table {
    width: 100%;
    min-width: 780px;
  }
}

@media (max-width: 576px) {
  .container,
  nav {
    max-width: 100%;
  }
  .container,
  nav {
    padding: 0 20px;
  }
  .head-table h3 {
    font-size: 20px;
  }
  .add-table {
    gap: 4px;
    padding: 6px 12px;
    font-size: 14px;
  }
  .add-table svg {
    width: 20px;
    height: 20px;
  }
}
